
#header{
  background-color: #ffffff;
  border: solid 5px #3c3c3c;
  padding:0 20px 0 0;
  width: 1000px;
  height: 275px;

}
body{
  background-color:#3c3c3c;
  color: #ffffff;
  margin: 80px 80px 80px 80px;
}

button{
padding: 10px 10px 10px 10px;
margin: 20px 40px 20px 40px;
background-color: #3c3c3c;
border: solid 3px blue;
color: red;
text-transform: uppercase;
}
img{
  padding: 20px 20px 20px 20px;
  margin: 15px -35px 10px 10px;

}
head{
  align-content: center;
}
p{
  max-width: 800px;
  letter-spacing: .1em;
}
strong{
  color: #d2d2d2;
  text-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1em;
}
#content {
  text-align: center;
}
.hours{
  text-align: right;
}
.columnOne {
}

.columnTwo {
  text-align: right;
}
